{% extends 'base.html.twig' %}

{% block title %}
	Choisir votre Rôle
{% endblock %}

{% block body %}
<div id="notfound">
    <div class="notfound" style="margin-top: -60px;">
        <div class="notfound-404">
            <h1>Votre Rôle ?</h1>
        </div>
        <h2>Veuillez choisir votre rôle dans notre site</h2>
        <p>Vous voulez s'inscrire en tant que professionnel dans le domaine de Cinema, audio visuel,etc.. ou en tant qu'un simple utilisateur.</p>
        <a href="{{path('inscription')}}">Utilisateur simple</a>        <a href="{{path('inscription_Pro')}}">Professionnel</a>

    </div>
</div>

{% endblock %}
