{% extends 'base.html.twig' %}

{% block title %}
	Calendrier

{% endblock %}

{% block body %}
	<style>

		#calendrier{
            width: 50%;
            margin: auto;
        }
	</style>
    <div class="container">
        <div class="main-body">
            <div class="card">
                <h2 align="center" style="margin-top: 5%; box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;">Calendrier</h2>
			<div id="calendrier" style="margin-top: 10%;margin-bottom: 10%;box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;"></div>
        </div>
    </div>
    </div>
    {{dump(data)}}
	
{% endblock %}


{% block javascripts %}
<script>
    window.onload = () => {
        let calendarElt = document.querySelector("#calendrier")
        let calendar = new FullCalendar.Calendar(calendarElt, {
			initialView: 'dayGridMonth',
			locale: 'fr',
			timeZone:'Afrique/Tunis',
			headerToolbar: {
                start: 'prev,next today',
                center: 'title',
                end: 'dayGridMonth,timeGridWeek'
            },
            events:  {{data|raw}} ,
            editable: true,
            eventResizableFromStart: true

		})
        calendar.on('eventChange', (e) => {
            let url = `/annonce/reservation/${e.event.id}/edit`
            let donnees = {
                "title": e.event.title,
                "start": e.event.start,
                "end": e.event.end,
 
            }
            console.log(donnees)
            
            let xhr = new XMLHttpRequest
            xhr.open("PUT", url)
            xhr.send(JSON.stringify(donnees))
        })
        calendar.render()
    }
</script>

{% endblock %}
