{% extends 'base.html.twig' %}

{% block title %}Hello AnnoncesController!{% endblock %}

{% block body %}
</div>
</div>
<div class="agileits-gal">
    <div class="container">
        {% if app.user %}
        <a href="{{path('ajouterAnnonces')}}">ajouter annonce</a>
        {% endif %}

        <h2 class="w3ls_head">Les annonces animaux</h2>
        <div class="col-md-4 gal-left">
            {% for annonce in annonces %}
            {% if annonce.status ==1 %}
            {% if annonce.type == 'Animaux' %}

            <div class="content-grid-effect slow-zoom vertical text-center">
                <a href="/images/1.jpg" class="b-link-stripe b-animate-go  swipebox">
                    <div class="img-box">
                        <img src="/images/1.jpg" alt="image" class="img-responsive zoom-img">	
                    </div>
            
                    <div class="info-box">
                        <div class="info-content">
                            <h4 style="background-color: aqua;">{{annonce.titre}}</h4>
                            <span class="separator"></span>
                            <p>{{annonce.description}}</p>
                            <a href="#" style="color:aliceblue">Cliquez ici pour voir plus de détails</a>
                        </div>
                    </div>
                </a>
            </div>
            {% endif %}
            {% endif %}

            {% endfor %}
        </div>
       </div>
</div>

{% endblock %}
