{% extends 'baseAdmin.html.twig' %}

{% block title %}Hello AdminCinemaController!{% endblock %}

{% block body %}
 <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <div class="row">
          <div>
            <div class="border-head">
              <h3>Dashboard</h3>
            </div>
           
      </section>
    </section>
    <!--main content end-->
{% endblock %}
