<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="keywords" content="Freehold Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
																								        Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>

		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>

		{% block stylesheets %}

			<link href="/Forms/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
			<link
			href="/Forms/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
			<!-- Font special for pages-->
			<link
			href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

			<!-- Vendor CSS-->
			<link href="/Forms/vendor/select2/select2.min.css" rel="stylesheet" media="all">
			<link
			href="/Forms/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

			<!-- Main CSS-->
			<link href="/Forms/css/main.css" rel="stylesheet" media="all">


		{% endblock %}

		{% block javascripts %}
			<!-- Jquery JS-->
			<script src="/Forms/vendor/jquery/jquery.min.js"></script>
			<!-- Vendor JS-->
			<script src="/Forms/vendor/select2/select2.min.js"></script>
			<script src="/Forms//Forms/vendor/datepicker/moment.min.js"></script>
			<script src="vendor/datepicker/daterangepicker.js"></script>

			<!-- Main JS-->
			<script src="/Forms/js/global.js"></script>

		{% endblock %}
	</head>


	<body>


		{% block body %}{% endblock %}


	</body>
</html>
